# Direct
Redirect permanent /docs/3.x/tech/tutorials/handling-notifications /docs/3.x/tech/tutorials/handling-events
Redirect permanent /docs/3.x/tech/tutorials/filtering-videos /docs/3.x/tech/tutorials/media-filter/filtering-videos
