<div data-collapse="medium" data-animation="over-left" data-duration="400" class="nav-bar w-nav">
  <div class="w-container">
    <div class="mobile-nav-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    <a href="/" class="w-nav-brand w--current">
      <h1 class="h1-logo">CleanSpeak</h1>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu"><a href="/products/profanity-filter" class="main-header-nav-link w-nav-link">FEATURES</a><a href="/company/about" class="main-header-nav-link last w-nav-link">about us</a><a href="https://account.inversoft.com/account/" class="account-header-nav-link w-nav-link">My Account</a><a href="/docs/3.x/tech/" class="account-header-nav-link w-nav-link">documentation</a><a href="https://cleanspeak.zendesk.com/hc/en-us/requests/new" class="account-header-nav-link w-nav-link">Support</a><a href="/blog/" class="account-header-nav-link w-nav-link">Blog</a></nav>
  </div>
</div>
