
@import 'variables';

/* Google Search Results
====================================================*/
.search-results {
  table, tr, td, tbody, thead {
    border-collapse: inherit !important;
    border: none;
  }

  .gs-result .gsc-thumbnail {
    display: none;
  }
}

/* Search Field
====================================================*/
.search {
  display: block;
  width: 100%;

  button {
    background-color: transparent;
    height: 55px;
    margin: 0;
    padding-left: 15px;
  }

  form {
    background-color: rgb(234, 234, 234);
    align-items: center;
    display: flex;
  }

  form > div {
    display: flex;
    width: 100%;
  }

  form input {
    background-color: transparent;
    color: #000;
    border: none;
    font-size: 22px;
    font-weight: 300;
    outline: none;
    padding-left: 1rem;
    width: 100%;
  }

  .fa {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }

  @media only screen and (min-width: $media-md) {
    width: initial;

    form > div {
      padding-left: 10px;
    }
  }
}

