<!doctype html>
<html data-wf-page="5b9ae1c0899c18a1d1cd8a18" data-wf-site="5b9ae1c0899c18411bcd8a16" lang="en">
{% include _head.html css="blog.css" %}
<body>
{% include _navigation.html hide_old_links=true %}
<main class="main-content blog-color">
  <div class="blog-body-adjust">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-9">
          <div class="blog-content-box">
            <h1 class="blog-title-h1"><a class="link" href="{{ page.url }}">{{ page.title }}</a></h1>
            <div class="post-header">
              <div class="blog-divider"></div>
              <div class="w-row">
                <div class="w-col w-col-2 centered"><img src="{{ page.author_image }}" alt="{{ page.author }}" title="{{ page.author }}" class="blog-avatar" width="70"/></a></div>
                <div class="w-col w-col-10 mobile-center">
                  <ul class="w-list-unstyled">
                    <li class="blog-avatar-list-items">By {{ page.author }}</li>
                    <li class="blog-avatar-list-items">
                      {% for category in page.categories %}
                      <a class="link" href="/blog/category/{{ category | downcase | replace: ' ', '-' | urlencode }}/" rel="category tag">{{ category }}</a>{% if forloop.last != true %},{% endif %}
                      {% endfor %}
                    </li>
                    <li class="blog-avatar-list-items">{{ page.date | date: "%B %e, %Y" }}</li>
                  </ul>
                  <div class="social-icons">
                    <div class="w-inline-block">
                      <div id="fb-root"></div>
                      <div class="fb-share-button" data-href="https://cleanspeak.com/{{ page.url }}" data-layout="button_count"></div>
                    </div>
                    <div class="w-inline-block">
                      <script type="IN/Share" data-url="https://cleanspeak.com/{{ page.url }}" data-counter="right"></script>
                    </div>
                    <div class="w-inline-block">
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://cleanspeak.com/{{ page.url }}" data-via="inversoft">Tweet</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            {% if page.image %}
              <p><img class="alignnone size-full" title="{{ page.title }}" src="/images/{{ page.image }}" alt="{{ page.title }}"></p>
            {% endif %}
            {% if page.markdown == 1 %}
              {{ content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
            <div class="blog-divider">
              <div class="blog-tags">
                <div class="w-inline-block"><strong>Tags:</strong></div>
                {% for tag in page.tags %}
                <a class="link-tags" href="/blog/tag/{{ tag | downcase | replace: ' ', '-' | urlencode }}/" rel="category tag">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-3 w-hidden-small w-hidden-tiny categories">
          <h4><strong>Tags</strong></h4>
          <div class="tagcloud">
            {% for tag in site.tags %}
            <a href="/blog/tag/{{ tag[0] | downcase | replace: ' ', '-' | urlencode }}/" class="tag-cloud-link tag-link-44 tag-link-position-1" aria-label="{{ tag[0] }}">{{ tag[0] }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% include _footer.html hide_old_links=true %}
</body>
</html>
